/* ================================ Base styles ================================ */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased; /* do I need this? */
    background: #FFF;
    color:#222;
}

ul {
    list-style: none;
}

a {
    color: #222;
    text-decoration: none;
}


p {
    margin: 0.5rem 0;
}

img {
    width: 100%;
}

.content-wrap {
    width: 94%;
    margin: 0 auto;
}

/* Buttons */

button {
    background-color: transparent;
    border: none;
}

.btn {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #DDD;
    background-color: #FFF;
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 6px;
}

.btn-rounded {
    border-radius: 4px;
}

/* ================================ Header ================================ */
/* ---------------------------- Header Top Left --------------------------- */
header {
    width: 100%;
    height: 179px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #FFF;
}

.header-bottom-border {
    border-bottom: 2px solid #DDD;
}

.header-top {
    border-bottom: 1px solid #DDD;
}

.header-top-container {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo img {
    width: 107px;
}

/* ---------------------------- Header Top Middle --------------------------- */
.header-button-container {
    display: flex;
    align-items: center;
    height: 48px;
    border-radius: 30px;
}

.header-button-container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    flex: 1 0 auto; /* pushes the filter to the right at 743px */
}

.header-button-container-top {
   display: none;
}

.header-button-container-bottom {
    display: flex;
    text-align: center;
    align-items: center;
    height: 16px;
    border: none;
}

.header-button {
    padding: 14px 18px 19px;
    font-size: 15px;
}

.search-button {
    color: #FFF;
    background-color: #ff385c;
    border-radius: 50%;
    font-size: 15px;
    height: 32px;
    width: 32px;
    margin-right: 8px;
}

.button-separator-line {
    flex: 0 0 1px;
    height: 24px;
    width: 1px;
    background-color: #DDD;
}

.button__filters-small {
    display: none;
}

/* ---------------------------- Header Top Right --------------------------- */
.header-right-container {
    display: flex;
    align-items: center;
    justify-content: right;
}

.become-host-link {
    height: 42px;
    border-radius: 30px;
    border: none;
    padding: 14px 15px 16px;
    font-size: 14px;
}

.become-host-link:hover {
    background-color: #F7F7F7;
}

.choose-language {
    width: 40px;
    height: 42px;
    padding: 13px;
    margin-left: -7px;
}

.choose-language img {
    width: 16px;
    height: 16px;
}

.choose-language:hover {
    background-color: #F7F7F7;
    border-radius: 22px;
}

.signup {
    width: 77px;
    height: 42px;
    border: 1px solid #DDD;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu {
    width: 12px;
    height: 12px;
}

.account {
    width: 30px;
    height: 30px;
}

/* --------------------------- Header Bottom Half --------------------------- */
.header__bottom {
    z-index: 101;
    width: 94%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    flex-wrap: nowrap;
}

.carousel-wrapper {
    width: 92%;
    height: 78px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.carousel-arrow {
    width: 28px;
    height: 28px;
    border-radius: 14px;
    text-align: center;
    line-height: 26px;
}

.carousel-category-container {
    width: 100%; /* this fixed the issue with the arrows getting squished */
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    column-gap: 34px;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

/* WebKit hide scrollbar */
.carousel-category-container::-webkit-scrollbar { 
    width: 0;
    height: 0;
}

.category {
    font-size: 0.8em;
    color: rgba(0,0,0,.6);
    flex: 0 0 content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    margin-top: 12px;
    padding: 4px 0 14px;
    border-bottom: 2px solid #FFF;
}

.category:hover {
    border-bottom: 2px solid #DDD;
    color: #000;
}

.category img {
    width: 24px;
    height: 24px;
    opacity: 0.9;
}

.category img:hover {
    opacity: 1;
}

.button__filters {
    width: 90px;
    height: 48px;
    border-radius: 13px;
}

.filter-icon {
    width: 14px;
    height: 14px;
}

/* ================================ Listings ================================ */
.rentals { /* grid container */
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto auto;
    column-gap: 25px;
    row-gap: 25px;
}

.listing { /* grid items */
    /* might not need this */
}

.listing-photos img {
    aspect-ratio: 20 / 19;
    border-radius: 13px;
    margin-bottom: 12px;
}

.listing-details { /* grid container */
    display: grid;
    grid-template-columns: 81% 16%;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 3%;
}
.location {
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
}

.distance, .dates {
    color: #888888;
    margin: 0;
}

.distance, .dates, .price {
    grid-column-start: 1;
}
.price {
    margin-top: 6px;
}
.rating {
    grid-column-start: 2;
    grid-row-start: 1;
    text-align: right;
}

/* ================================ Footer Links ================================ */
footer {
    background: #F9F9F9;
    font-size: .9rem;
    width: 100%;
    border-top: 1px #DDD solid;
    margin-top: 40px;
}

footer a:hover {
    text-decoration: underline;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-bottom: 40px;
}

.footer-section {
    padding: 26px 0;
}

.footer-section h3 {
    font-weight: 600;
}

.footer-section ul {
    font-weight: 300;
}

.footer-section li {
    margin-top: 12px;
}

.fixed-footer-links li {
    display: inline-block;
}

.fixed-footer-container {
    background: #F9F9F9;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-top: 1px #DDD solid;
}

.fixed-footer-left {
    padding: 14px;
}

.fixed-footer-right {
    padding: 14px;
}

/* ================================ Media Queries ================================ */
@media(max-width: 1127px) {

    .header-logo img {
        width: 30px;
    }

    .rentals { /* grid container */
        grid-template-columns: repeat(3, 1fr);
        margin-top: 210px;
    }
}

@media(max-width: 949px) {

    .header-button-container {
        margin: 0 24px;
    }

    .header-right-container {
        flex: 1 0 auto;
    }

    .rentals { /* grid container */
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 743px) {

   /* Everything in header-top becomes "Where to?" */
   /* The bottom menu changes, too. */
    
   header {
    height: 146px;
    border-bottom: 1px solid #DDD;
   }

   .header-top {
        border: none;
    }
    
    .header-top .content-wrap {
        width: 100%;
        padding: 14px 24px 0;
    }

    .header-top-container {
        height: 55px;
    }

    .header-logo img {
        display: none;
    }

    .header-right-container {
        display: none;
    }

    .header-button-container {
        width: 100%;
        height: 55px;
        margin: 0;
    }

    .header-button-container-top {
        font-size: 14px;
        color:#000;
        font-weight: 500;
        display: block;
    }

    .header-button {
        font-size: 12px;
        color:rgba(0, 0, 0, 0.6);
        padding: 0 3px;
    }

    .button-separator-line {
        display: none;
    }

    .header-button:nth-child(n+2)::before {
        content: "·";
        padding-right: 3px;
        display: inline;
    }

    .search-button {
        margin: 0 8px;
        background-color: #FFF;
        color: #222;
        font-size: 18px;
        order: -1;
    }

    .button__filters-small {
        display: block;
        height: 36px;
        width: 36px;
        border: 1px solid #DDD;
        border-radius: 25px;
        margin: 0 10px;
    }

    .header__bottom {
        width: 100%;
        margin-top: 0;
    }

    .carousel-wrapper {
        width: 100%;
    }

    .carousel-category-container {
        column-gap: 18px;
    }

    .carousel-category-container li:first-child {
        margin-left: 24px;
    }

    .carousel-arrow {
        display: none;
    }

    .button__filters {
        display: none;
    }

    .rentals { /* grid container */
        grid-template-columns: repeat(2, 1fr);
        margin-top: 168px;
    }

    .footer-content {
        display: block;
        margin-bottom: 40px;
    }

    .footer-section {
        border-bottom: 1px #DDD solid;
    }
}

@media(max-width: 549px) {
 
     .rentals { /* grid container */
         grid-template-columns: 1fr;
     }
 }

